extends layout

block css
    style(type='text/css').
        #menu-btn { display: none; }


block content
  div.main-container
      section.index-section
        h1.index-title 墨客
        section.index-introduction
          h2 分享观点，激发灵感的地方。
          p
            a(href='./write') 开始写作
            a(href='./read') 阅读
            a(href='./about') 关于

//
      footer.index-footer
        ul
          li
            a(href='./read') 阅读
          li
            a(href='./about') 关于
          //
              li
                a(href='./signup.html') 注册
          li
            if user
              span 你好，#{user.nickname}
                a(href='./logout') 退出
            else
              a(href='./signin') 登录

block script
    script.
        AlertUtil.alert('warning', '网站目前处于测试阶段，需要将QQ加入白名单才能登陆，请联系Email: treblam@gmail.com 加入白名单', false);