doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title

    //
     Bootstrap
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/moke.css')

    block css
    //
      script.
        var isWindows = navigator.platform.toUpperCase().indexOf('WIN') !== -1;
        if (isWindows) {
            var html = document.getElementsByTagName('html')[0];
            if (html) {
                html.className += ' win';
            }
        }
    //
      HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //
      WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
    //script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    //script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

    // link(rel='stylesheet', href='/stylesheets/style.css')
  body

    block content
    a#menu-btn.home(href='/')
      img(src='/images/mo/7935875_203322167100_2.jpg' alt='')

    nav#site-menu.site-menu
        div.menu-wrapper
          ul.menu-items
            li
              a(href='/read') 阅读
            if user
                li
                  a(href='/home/#{user._id}')
                    img.avatar(src='#{user.avatar_s}' alt='头像')
                    | #{user.nickname}
            else
              li
                a(href='/signin') 登录
            li
              a(href='/write') 写作
            if user
                li
                  a(href='/drafts') 草稿
            li
              a(href='/collections') 文集
            li
              a(href='/writers') 作者

  div#login-modal.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true')
    div.modal-dialog.modal-sm
        div.modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4#myModalLabel.modal-title 请登录
            .modal-body.text-center
                button#qq-login.btn.btn-sm.btn-primary(type='button') 使用QQ登录

  script(type='text/javascript' src='/js/jquery-1.11.1.min.js')
  script(type='text/javascript' src='/js/bootstrap.min.js')
  script(type='text/javascript' src='/js/moke.js')

  block script