extends layout

block css
  link(rel='stylesheet' href='/editor/css/medium-editor.css')
  link(rel='stylesheet' href='/editor/css/themes/default.css')

block content
  div.article-container
    article.article.detail-page.article-editor
      hgroup
        h3#title.editable.title(data-placeholder='标题', data-disable-toolbar='true', data-disable-return='true')
          != article ? article.title : ''
        h4#subtitle.editable.subtitle(data-placeholder='副标题', data-disable-toolbar='true', data-disable-return='true')
          != article ? article.subtitle : ''
      div#content.editable.content(data-placeholder='文章内容')
        != article ? article.content : ''
    ul.buttons
      li
        button#delete-btn.btn.btn-default(type='button') 删除
      li
        button#cancel-btn.btn.btn-default(type='button') 取消
      li
        button#submit-btn.btn.btn-success(type='button') 发布

    form(action='/article', method='post', name='article')
      input(type='hidden', name='title')
      input(type='hidden', name='subtitle')
      input(type='hidden', name='content')
      input#article-id(type='hidden', name='articleId' value=article ? article._id : '')


block script
  script(src='/editor/js/medium-editor.js')
  script.
    var editors = new MediumEditor('.editable');

    var articleId = '#{article ? article._id : ''}';

    var uid = '#{user._id}';

    var form = document.forms['article'];

    var editables = $('.editable');

    editables.get(0).focus();

    $('#submit-btn').click(function(e) {
      var data = editors.serialize();
      var title = data.title.value.replace(/^<p>(.*)<\/p>/, '$1');
      var subtitle = data.subtitle.value.replace(/^<p>(.*)<\/p>/, '$1');
      var content = data.content.value;

      console.log(title);
      console.log(subtitle);
      console.log(content);

      if (form) {
        form.elements['title'].value = title;
        form.elements['subtitle'].value = subtitle;
        form.elements['content'].value = content;
        form.submit();
      }
    });

    $('#cancel-btn').click(function(e) {
        window.location.href = '/home/' + uid;
    });

    if (!articleId) {
        $('#delete-btn').hide();
    }

    $('#delete-btn').click(function(e) {
       $.ajax({
          type: "DELETE",
          url: "/article",
          data: { articleId: articleId }
       }).done(function( result ) {
          if (result.status == 'success') {
              window.location.href = '/home/' + uid;
          }
       });
    });

    //todo  for test, will remove.
    $('.editable').focus(function(e) {
        // setEndOfContenteditable(this);
    }).keydown(function(e) {
        console.log('keydown,' + 'which: ' + e.which);
        if (e.which == 229) {
            console.log('ime keydown');
        }
    }).keypress(function(e) {
        console.log('keypress');
    }).mousedown(function(e) {
        //e.preventDefault();
    }).click(function(e) {
        //e.preventDefault();
    }).keyup(function(e) {
        // e.preventDefault();
        console.log('keyup, which: ' + e.which);
    });

    function setEndOfContenteditable(contentEditableElement) {
          var range,selection;
          if(document.createRange) { //Firefox, Chrome, Opera, Safari, IE 9+
              range = document.createRange();//Create a range (a range is a like the selection but invisible)
              range.selectNodeContents(contentEditableElement);//Select the entire contents of the element with the range
              range.collapse(false);//collapse the range to the end point. false means collapse to end rather than the start
              selection = window.getSelection();//get the selection object (allows you to change selection)
              selection.removeAllRanges();//remove any selections already made
              selection.addRange(range);//make the range you have just created the visible selection
          } else if(document.selection) { //IE 8 and lower
              range = document.body.createTextRange();//Create a range (a range is a like the selection but invisible)
              range.moveToElementText(contentEditableElement);//Select the entire contents of the element with the range
              range.collapse(false);//collapse the range to the end point. false means collapse to end rather than the start
              range.select();//Select the range (make it the visible selection
          }
    }