extends layout

block css
  link(rel='stylesheet' href='/editor/css/medium-editor.css')
  link(rel='stylesheet' href='/editor/css/themes/default.css')

block content
  div.article-container
    article.article.detail-page.article-editor
      hgroup
        h3#title.editable.title(data-placeholder='标题', data-disable-toolbar='true', data-disable-return='true')
          != article ? article.title : ''
        h4#subtitle.editable.subtitle(data-placeholder='副标题', data-disable-toolbar='true', data-disable-return='true')
          != article ? article.subtitle : ''
      div#content.editable.content(data-placeholder='文章内容')
        != article ? article.content : ''
    ul.buttons
      li
        button#delete-btn.btn.btn-default(type='button') 删除
      li
        button#cancel-btn.btn.btn-default(type='button') 取消
      li
        button#save-btn.btn.btn-default(type='button') 保存
      li
        button#publish-btn.btn.btn-success(type='button') 发布

    form(action='/articles', method='post', name='article')
      input(type='hidden', name='title')
      input(type='hidden', name='subtitle')
      input(type='hidden', name='content')
      input(type='hidden', name='draft')
      input#article-id(type='hidden', name='articleId' value=article ? article._id : '')


  .drafts-logo

  .drafts-container
    //h3 我的写作
    .drafts
      //
        Nav tabs
      ul.nav.nav-tabs.my-articles-tab
          li.active
              a(href='#drafts-content', data-toggle='tab') 草稿
          li
              a(href='#articles-content', data-toggle='tab') 已发布
      //
        Tab panes
      .tab-content.drafts-tab-content
          #drafts-content.tab-pane.active.drafts-tab-pane(data-draft='true')
            ul.draft-list
            .load-more
                button.btn.btn-sm.btn-default 更多
          #articles-content.tab-pane.drafts-tab-pane
            ul.draft-list
            .load-more
                button.btn.btn-sm.btn-default 更多

    //.alert.alert-danger.alert-position 副标题太短

block script
  script(src='/editor/js/medium-editor.js')
  script(type='text/javascript', src='/js/runtime.js')
  script(type='text/javascript', src='/views/drafts.js')
  script(type='text/javascript', src='/js/jquery.nicescroll.js')
  script.
    var editors = new MediumEditor('.editable');

    var articleId = '#{article ? article._id : ''}';

    // 点保存按钮时，给draft传的值
    var isDraft = #{article ? !!article.draft : true};

    var uid = '#{user._id}';

    var form = document.forms['article'];

    var editables = $('.editable');

    editables.get(0).focus();

      function save(isPublish) {
        var data = editors.serialize();
        var title = data.title.value.replace(/^<p>(.*)<\/p>/, '$1');
        var subtitle = data.subtitle.value.replace(/^<p>(.*)<\/p>/, '$1');
        var content = data.content.value;

        var url, method;

        title = title.trim();
        subtitle = subtitle.trim();
        content = content.trim();

        console.log(title);
        console.log(subtitle);
        console.log(content);

        if (!title) {
            AlertUtil.alert('danger', '标题不能为空');
            return;
        } else if (title.length > 30) {
            AlertUtil.alert('danger', '标题长度不能超过30个字');
            return;
        }

        if (subtitle.length > 60) {
            AlertUtil.alert('danger', '副标题不能超过60个字');
            return;
        }

        if (isPublish && !content) {
            AlertUtil.alert('danger', '文章内容不能为空');
            return;
        }

        /*var elements = form.elements;
        if (form) {
          elements['title'].value = title.trim();
          elements['subtitle'].value = subtitle;
          elements['content'].value = content;
          elements['draft'].value = isPublish ? 'false' : isDraft;
          form.submit();
        }*/

          var postData = {
              title: title,
              subtitle: subtitle,
              content: content,
              draft: isDraft,
              isPublish: isPublish
          }

          if (articleId) {
              url = '/articles/' + articleId;
              method = 'PUT';
          } else {
              url = '/articles';
              method = 'POST';
          }

          $.ajax({
              url: url,
              type: method,
              dataType: 'json',
              data: JSON.stringify(postData),
              contentType: 'application/json'
          }).done(function(data) {
              console.log(data);
              if (data.status == 'success') {
                  articleId = data.data._id.toString();
                  if (isPublish) {
                      window.location.href = '/article/' + data.data._id;
                  } else {
                      AlertUtil.alert('success', '保存成功');
                  }
              } else {
                  AlertUtil.alert('danger', data.message);
              }
          });
      }

    $('#publish-btn').click(function(e) {
        save(true);
    });

    $('#cancel-btn').click(function(e) {
        window.location.href = '/home/' + uid;
    });

    $('#save-btn').click(function(e) {
        save(false);
    });

    if (!articleId) {
        $('#delete-btn').hide();
    }

    $('#delete-btn').click(function(e) {
       $.ajax({
          type: "DELETE",
          url: "/article",
          data: { articleId: articleId }
       }).done(function( result ) {
          if (result.status == 'success') {
              window.location.href = '/home/' + uid;
          }
       });
    });

    //todo  for test, will remove.
    $('.editable').focus(function(e) {
        // setEndOfContenteditable(this);
    }).keydown(function(e) {
        console.log('keydown,' + 'which: ' + e.which);
        if (e.which == 229) {
            console.log('ime keydown');
        }
    }).keypress(function(e) {
        console.log('keypress');
    }).mousedown(function(e) {
        //e.preventDefault();
    }).click(function(e) {
        //e.preventDefault();
    }).keyup(function(e) {
        // e.preventDefault();
        console.log('keyup, which: ' + e.which);
    });

    function setEndOfContenteditable(contentEditableElement) {
          var range,selection;
          if(document.createRange) { //Firefox, Chrome, Opera, Safari, IE 9+
              range = document.createRange();//Create a range (a range is a like the selection but invisible)
              range.selectNodeContents(contentEditableElement);//Select the entire contents of the element with the range
              range.collapse(false);//collapse the range to the end point. false means collapse to end rather than the start
              selection = window.getSelection();//get the selection object (allows you to change selection)
              selection.removeAllRanges();//remove any selections already made
              selection.addRange(range);//make the range you have just created the visible selection
          } else if(document.selection) { //IE 8 and lower
              range = document.body.createTextRange();//Create a range (a range is a like the selection but invisible)
              range.moveToElementText(contentEditableElement);//Select the entire contents of the element with the range
              range.collapse(false);//collapse the range to the end point. false means collapse to end rather than the start
              range.select();//Select the range (make it the visible selection
          }
    }

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var curTab = $(this);
        var selector = curTab.attr('href').replace(/^.+#/, '#');
        var tabContent = $(selector);
        tabContent.data('page', 1);
        tabContent.addClass('drafts-loading');
        getDrafts(tabContent);
    });


    $('.drafts-logo').mouseup(function(e) {
      e.stopPropagation();
      var container = $('.drafts-container');
      if (!container.is(':visible')) {
          //container.slideDown();
          container.show();
          container.animate({left: 0});
          triggerActiveTab();
      }
    });

      // 草稿
      $(document).mouseup(function(e) {
          var drafts = $('.drafts-container');
          if (!drafts.is(e.target) && drafts.has(e.target).length === 0) {
                  drafts.animate({left: -300}, function() {
                  $(this).hide();
              });
          }
      });

    triggerActiveTab();

    function triggerActiveTab() {
        $('.nav-tabs .active a').trigger('shown.bs.tab');
    }

    var draftsContent = $('.drafts-tab-content');

    draftsContent.niceScroll();

    function getDrafts(el) {
        var isDraft = el.attr('data-draft') === 'true',
            page = el.data('page');
        $.ajax({
            url: '/drafts',
            data: {
                draft: isDraft,
                page: page
            }
        }).done(function(data) {
            el.removeClass('drafts-loading');
            if (data.status == 'success') {
                el.data('page', el.data('page') + 1);
                var hasMore = data.data.length >= 10;
                if (hasMore) {
                    el.addClass('drafts-has-more');
                } else {
                    el.removeClass('drafts-has-more');
                }
                var ul = el.find('.draft-list');
                if (data.data && data.data.length > 0) {
                    if (page == 1) {
                        ul.html(template({ articles: data.data }));
                    } else {
                        ul.append(template({ articles: data.data }));
                    }
                    draftsContent.getNiceScroll().resize();
                }
            } else {
                if (data.code == 1) {
                    LoginUtil.login();
                } else {
                    console.log(data.message);
                    AlertUtil.alert('danger', data.message);
                }
            }
        }).fail(function(jqXHR, textStatus, error) {
            AlertUtil.alert(textStatus);
        });
    }

    $(document).on('click', '.drafts-tab-pane a', function(e) {
        console.log('abc');
        var id = $(this).data('id');
        $.ajax({
            url: '/drafts/' + id
        }).done(function(data) {
            if (data.status == 'success') {
                if (data.data) {
                    $('#title').html('<p>' + data.data.title + '</p>');
                    $('#subtitle').html('<p>' + data.data.subtitle + '</p>');
                    $('#content').html(data.data.content);
                    articleId = data.data._id.toString();
                    editors.reset();
                    editables.get(0).focus();
                } else {

                }
            }
        }).fail(function(jqXHR, statusText, error) {
            AlertUtil.alert('danger', statusText)
        })
    }).on('click', '.drafts-tab-pane .load-more .btn', function(e) {
        var that = $(this);
        var pane = that.closest('.drafts-tab-pane');
        getDrafts(pane);
    });

    function calculateHeight() {
        var ctnerHeight = $('.drafts-container').height();
        console.log('cnterHeight: ' + ctnerHeight);
        var draftsEl = $('.drafts');
        console.log('paddingtop:' + draftsEl.css('padding-top'));
        console.log('margintop:' + draftsEl.css('margin-top'));
        console.log('outerwidth:' + $('.my-articles-tab').outerHeight());
        var tobeSubtract = parseInt(draftsEl.css('padding-top'), 10) + parseInt(draftsEl.css('padding-bottom'), 10) +
            parseInt(draftsEl.css('margin-top'), 10) + $('.my-articles-tab').outerHeight();

        draftsContent.height(ctnerHeight - tobeSubtract);
        console.log('height to be set: ' + ctnerHeight - tobeSubtract);
    }

    calculateHeight();

    $(window).on('scroll', function(e) {
        calculateHeight();
    });