/*全站公用的css*/
body {
    font-family: "Lucida Grande","Lucida Sans Unicode", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
    color: #666;
}

a, a:active, a:focus {
    outline: 0;
}
/*-------首页--------*/

.index-section {
    padding: 150px 0 0 0;
    text-align: center;
}

.index-title {
    margin: 20px 0 20px 0;
    font-weight: bold;
}

.index-introduction {
    margin: 50px 0 0 0;
    line-height: 46px;
}

.index-introduction h2 {
    font-size: 18px;
    margin: 70px 0 50px;
}

.index-introduction p a {
    margin-right: 20px;
    font-size: 18px;
    border-bottom: 3px solid #d0d0d0;
    color: #000000;
    text-decoration: none;
}

.index-introduction p a:hover {
    border-bottom: 3px solid #000;
}

/*.index-footer {
    position: fixed;
    bottom: 0;
    text-align: center;
}

.index-footer ul {
    padding-left: 0;
    height: 80px;
}
.index-footer ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
}

.index-footer ul li a {
    border-bottom: 3px solid #d0d0d0;
    color: #000000;
    text-decoration: none;
}

.index-footer ul li a:hover {
    border-bottom: 3px solid #000;
}*/

/*--------导航------------*/
.home, .home:hover {
    position: fixed;
    left: 10px;
    bottom: 10px;
    background-color: #000000;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;

    color: #ffffff;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
}

.home img {
    display: block;
    width: 60px;
}

/*--------文章的样式--------*/

.main-container {
    width: 640px;
    margin: 0 auto;
    padding: 50px 0;
}

.article-container {
    width: 700px;
    margin: 0 auto;
    padding: 50px 0;
}

.article header {
    margin-bottom: 30px;
}

.article .title {
    font-weight: bold;
    font-size: 28px;
    margin: 10px 0;
    line-height: 1.5;
    min-height: 1.5em;
}

.article .title, .article .title a {
    color: #333;
}

.article .subtitle, .article .subtitle a {
    color: #808080;
}

.article .subtitle {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
}

.article .title p, .article .subtitle p {
    margin: 0;
}

.article .collection a {
    color: #ccc;
}


.article .collection a:hover {
    color: #ccc;
}

.article .avatar {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.article .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}

.article .article-info a {
    color: #808080;
}

.article .content {
    font-size: 18px;
    line-height: 1.8;
    margin: 15px 0 30px;

}

.editable:focus {
    outline: none;
}

.article .content p {
    margin-bottom: 1em;
}

.article .content h3 {
    font-size: 32px;
    font-weight: bold;
    padding-top: 10px;
}

.article .content h4 {
    font-size: 24px;
    font-weight: bold;
}

/*-------文章详情页-------*/
.detail-page .title {
    font-size: 50px;
}

.detail-page .subtitle {
    font-size: 30px;
}

.detail-page .article-info {
    font-size: 14px;
}

.detailed-info {
    margin-top: 30px;
}

.info-card {
    border-top: 1px solid #d0d0d0;
}

.info-card h3 {
    color: #808080;
    font-size: 14px;
    font-weight: bold;
}

.author-info .author-avatar {
    width: 60px;
    height: 60px;
}

.author-info .author-avatar img {
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    width: 100%;
    height: 100%;
}

.author-info .media-heading a {
    color: #000000;
}

.author-info .media-body {
    color: #808080;
}

.author-info .follow-wrapper {
    margin-top: 5px;
}

.collection-info .collection-body {
    margin-top: 15px;
    color: #808080;
}

.collection-body .collection-title {
    margin: 0 0 5px;
}

.collection-body .collection-title a {
    color: #000000;
}

.collection-info .follow-wrapper {
    margin-top: 5px;
}

/*------个人主页------*/
.user-header {
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.user-header .user-logo {
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.user-header .user-logo img {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.user-header .nickname {
    font-weight: bold;
}

.user-header .user-intro {
    font-size: 16px;
    color: #808080;
    margin-bottom: 20px;
}

.user-section {
    margin-top: 50px;
    border-top: 1px solid #d0d0d0;
}

.user-section .section-title {
    font-size: 14px;
    color: #808080;
    margin: 10px 0 30px;
    font-weight: bold;
}

.user-recommended .article .title {
    font-size: 18px;
}

.edit-btns .cancel-btn {
    margin-right: 15px;
}

.edit-btns {
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    display: none;
}

/*------登录注册-----*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 60px auto 0;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin .top-input {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin .middle-input {
    border-radius: 0;
    border-bottom-width: 0;
}
.form-signin .bottom-input {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.openapi-login {
    text-align: center;
    margin-top: 60px;
}

/*-----------关于-----------*/
.about p {
    text-align: center;
}

/*-------------编辑器--------------*/
html, body {
    width: 100%;
    height: 100%;
}

.article-editor {
    padding-top: 100px;
}

.article-editor .subtitle {
    min-height: 1.5em;
}

.buttons {
    position: fixed;
    right: 0;
    bottom: 0;
}

.buttons li {
    margin-right: 10px;
    list-style-type: none;
    display: inline;
}



/*-----------导航------------*/
.site-menu {
    position: fixed;
    left: 0;
    bottom: 0;
    display: none;
    background: #ffffff;
}

.menu-wrapper {
    width: 200px;
    height: 400px;
    border: 2px solid #000000;
    padding-top: 20px;
    border-radius: 3px;
}

.menu-items li {
    margin-bottom: 15px;
}

.menu-items .avatar {
    margin-right: 10px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}

.menu-items a {
    color: #000000;
}

.collection-header {
    padding: 100px 0 100px;
    text-align: center;
}

.collection-header h2 {
    font-size: 50px;
    font-weight: bold;
}

.collection-header .intro {
    font-size: 18px;
    margin-bottom: 20px;
}

.article-list {
    border-top: 1px solid #d0d0d0;
}

/*-----------文集列表------------*/
.collections {
    list-style: none;
    margin: 0;
    padding: 0;
}

.collection a {
    color: #000000;
    text-decoration: none;
}

.collection {
    display: inline-block;
    width: 300px;
    height: 188px;
    margin: 15px 10px;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    text-align: center;
    position: relative;
}

.collection .coll-link {
    display: block;
    width: 100%;
    height: 100%;
}

.collection .name {
    font-weight: bold;
    font-size: 28px;
    display: block;
    padding: 10px 8px 0;
}

.collection .intro {
    font-size: 16px;
    color: #808080;
    margin-top: 5px;
    display: block;
    padding: 0 8px;
}

.collection .follow-btn {
    margin-top: -80px;
}

/*------------用户列表------------*/
.users {
    list-style: none;
    margin: 0;
    padding: 0;
}

.user {
    display: inline-block;
    width: 300px;
    height: 338px;
    overflow: hidden;
    margin: 15px 10px;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    text-align: center;
    position: relative;
}

.user a {
    color: #000000;
    text-decoration: none;
}

.user .user-header .user-intro {
    height: 44px;
    overflow: hidden;
}

.user .user-header .nickname {
    height: 39px;
    overflow: hidden;
}

/*----------编辑器的css调整---------*/
/*.medium-editor-placeholder:after {
    width: 100%;
}*/

/*------------选择文章------------*/
.choose-articles {
    position: fixed;
    right: 10px;
    bottom: 60px;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    padding: 10px;
    z-index: 10;
    background: #ffffff;
}

.choose-articles .instruct {
    margin-bottom: 5px;
    color: #808080;
}

.my-articles {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.8em;
}

.my-articles li {
    position: relative;
}

.my-articles li .add-my-article {
    color: #000000;
    display: block;
}

.my-articles li .remove-article {
    display: none;
}

.my-articles .already-contributed .add-my-article {
    color: #808080;
    pointer-events: none;
    cursor: text;
}

.my-articles .already-contributed .add-my-article:hover {
    text-decoration: none;
}

.my-articles .already-contributed .remove-article {
    color: red;
    position: absolute;
    right: 10px;
    top: 0;
    display: inline;
}

/*-----------内容为空的引导----------*/
.empty-instruct {
    font-size: 24px;
    text-align: center;
    padding-top: 100px;
    color: #b3b3b1;
}

.h1 {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin: 50px 0;
}